@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap');


body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}